header, #all-posts-d {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center; }

button, input[type="submit"], #all-posts-d .post-d .tags-line .tags-d button {
  background: #5CA6E5;
  color: white;
  border: none;
  padding: .3rem .7rem;
  margin: .5rem;
  transition: background 150ms; }
  button:hover, input[type="submit"]:hover, #all-posts-d .post-d .tags-line .tags-d button:hover {
    background: #1D88E3; }
  button:active, input[type="submit"]:active, #all-posts-d .post-d .tags-line .tags-d button:active {
    background: #6EB0E8; }

html, body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue";
  font-size: 16px; }

a {
  font-style: italic;
  text-align: center;
  display: block;
  margin: 0 auto;
  transition: color 150ms; }
  a:link {
    color: #5CA6E5; }
  a:visited {
    color: #5CA6E5; }
  a:hover {
    color: #FFBA21; }
  a:active {
    color: #FFEF33; }

header {
  justify-content: flex-start;
  align-items: center;
  background: #5CA6E5;
  height: 3rem;
  margin: 0 0 4rem; }
  header h1 {
    color: #FFF;
    margin: 0 1rem;
    font-weight: 200; }

form {
  display: block;
  margin: 1rem auto; }
  form #select-holder {
    margin: 0 auto;
    padding: 0;
    width: 22rem;
    height: 2rem;
    position: relative; }
    form #select-holder label {
      margin: 0;
      padding: 0;
      position: absolute;
      color: #777;
      font-weight: 200;
      top: .15rem;
      left: .9rem;
      font-size: 1.4rem; }
    form #select-holder select {
      box-shadow: none;
      font-weight: 200;
      width: 37%;
      -webkit-background: white;
      background: white;
      border: none;
      padding: 1px 1px 1px 5px;
      -webkit-appearance: none;
      -webkit-border-radius: none;
      border-radius: none;
      display: inline;
      position: absolute;
      top: 1px;
      right: 1.7rem;
      margin: 0;
      font-size: 1.4rem; }
    form #select-holder #fake-border {
      position: absolute;
      top: 0;
      right: 1rem;
      height: 1.75rem;
      width: 8.3rem;
      pointer-events: none; }
    form #select-holder #arrows-holder {
      background: #5CA6E5;
      width: 2rem;
      height: 2.05rem;
      position: absolute;
      right: 1rem;
      top: -1px;
      border-radius: 0 100% 100% 0;
      pointer-events: none;
      margin: 0;
      padding: 0; }
      form #select-holder #arrows-holder #arrows {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
        position: absolute;
        top: .4rem;
        right: .55rem; }
        form #select-holder #arrows-holder #arrows::after {
          content: "";
          color: #000;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid white;
          position: absolute;
          top: .8rem;
          right: -.5rem; }

button, input[type="submit"] {
  font-size: 1.25rem;
  margin: 1rem auto;
  display: block; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#all-posts-d {
  margin: 1rem auto 2rem; }
  #all-posts-d .post-d {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: 1rem;
    width: 20rem;
    min-height: 29rem;
    position: relative;
    transform: scale(1);
    animation: fadein 1s;
    transition: all 500ms;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
    /* Opera */ }
    #all-posts-d .post-d:hover {
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
      transform: scale(1.01); }
    #all-posts-d .post-d img {
      width: 100%;
      height: 11rem;
      display: block;
      margin: 0 auto 1rem; }
    #all-posts-d .post-d h2 {
      font-weight: 400;
      margin: 1rem; }
    #all-posts-d .post-d p {
      font-weight: 200;
      margin: 1rem;
      text-align: center; }
    #all-posts-d .post-d .tags-line {
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: .5rem; }
      #all-posts-d .post-d .tags-line .line {
        width: 80%;
        height: .1rem;
        margin: 1rem auto .5rem;
        background: #EAEAEA; }
      #all-posts-d .post-d .tags-line .tags-d button {
        font-size: .8rem;
        display: inline; }

/*# sourceMappingURL=style.css.map */
